body{
    font-family: sans-serif;
    background-color: #171721;
    margin: 0px;
}

.container{
    /* width: 428px; */
    width: 100%;
    height: fit-content;
    padding-top: 40px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* justify-content: space-between; */
}

.part-1{
    width:300px;
    height:fit-content;
    color: white;
    padding: 10px;
    /* border:1px solid white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: center; */
}

.box{
    border: 2px solid #af36c3;
    /* border-image: linear-gradient(135deg,#AF36C3,#2E2EBF) 1; */
    border-radius: 10px;
}

.title{
    color:white;
    font-size: 40px;
    text-align: center;
    width:226px;
    height: 60px;
    margin: 0px auto;
    /* clip-path: inset(0 round 2px); */
    /* margin-top: 60px; */
    border-radius: 10px;
}

.Date-box{
    /* border: 1px solid white; */
    color:white;
    font-size: 20px;
    margin: 40px;
    width:226px;
    text-align: center;
    height: max-content;
    display: flex;
    align-content: center;
    justify-content: center;
}

[type="text"], [type="date"]{
    color: white;
    background-color: #171721;
    height: inherit;
    text-align: center; 
    border: none;
}

.container-in-out{
    width:226px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* margin-bottom: 20px; */
}

.circle{
    color:white;
    font-size: 20px;
    width:95px;
    height:95px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle:hover, button:hover{
    box-shadow: 0px 0px 4px 2px white;
}

.circle:active, button:active{
    position:relative;
    top:4px;
    box-shadow: none;
}

.expenses-type{
    /* border: 1px solid white; */
    width:fit-content;
    height: fit-content;
    margin-bottom: 20px;
    display: none;
    flex-direction: column;
}

.row{
    /* border: 1px solid white; */
    /* width:fit-content; */
    height:max-content;
    display:flex;
    justify-content: space-between;
}

.small-circle{
    width: 55px;
    height: 55px;
    margin: 0px 5px 5px 0px;
}

.money{
    border: 2px solid #c9ab3e;
    margin:5px
}

.input-text{
    width: 100px;
    /* padding: 10px; */
    margin-bottom:10px;
}

.btn{
    color: white;
    margin-top:20px;
    background-color: #171721;
    margin-bottom: 100px;
}